  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html{
  scroll-behavior: smooth;
}

  /* Navbar Style */
  .nav-bar {
    background-color: #0A490A;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
  }

  /* Menu Style */
  .menu {
    display: flex;
    list-style: none;
    gap: 2rem;
  }

  /* Search Style */
  .searchBox {
    height: 2rem;
    position: relative;
    display: flex;
  }

  .searchBox img {
    position: absolute;
    left: 5px;
    top: 3px;
    height: 70%;
  }


  .searchBox input {
    height: 100%;
    background-color: transparent;
    color: white;
    padding-left: 40px;
    border: 1px solid white;
  }

  .searchBox select {
    height: 100%;
    background-color: transparent;
    color: inherit;
    padding-inline: 1rem;
    border: 1px solid white;
  }

  ::placeholder {
    color: white;
  }

  .searchBox select option {
    color: black;
  }

  /* Operation Style */
  .operation {
    display: flex;
    gap: 1.5rem;
  }

  .icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 4rem;
    font-size: 0.8rem;
  }

  .icon-box img {
    transform: scale(0.6);
  }


  /* Banner Style */
  .Banner {
    color: #0A490A;
    background-color: #FFC107;
    padding: 2rem 5rem;
    position: relative;
  }

  .badge {
    background-color: #B4C8B1;
    padding: 0.3rem 1rem;
    border-radius: 3px;
    font-size: 0.8rem;
  }

  .title {
    font-size: 5rem;
  }

  .about {
    width: 60%;
    font-size: 1.5rem;
  }

  .btnBanner {
    font-size: 1rem;
    padding: 0.3rem 1.5rem;
    background-color: #B4C8B1;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: none;
  }

  /* Banner Images Style */
  .dicount {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    top: 2rem;
    width: 6rem;
  }

  .dicount img {
    width: 100%;
  }

  .dicount strong {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .frutisBanner {
    position: absolute;
    right: 0;
    top: 0;
    width: 35%;
  }

  .frutisBanner img {
    width: 100%;
  }

  .ProductItem {
    width: 20%;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    color: white;

  }

  .cardInformation strong {
    font-size: 1.7rem;
    font-weight: bold;
  }

  .productImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .ProductInformation {
    position: absolute;
    bottom: 0;
    padding: 0.9rem;
    z-index: 1;
  }

  .ProductInformation h4 {
    color: #FFC107;
    font-size: 1.5rem;
  }

  .ProductInformation p {
    width: 65%;
    margin-bottom: 1.3rem;
  }

  .ProductInformation button {
    width: 65%;
    background-color: #FFC107;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-size: .8rem;
    padding: .4rem .5rem;
    border-radius: .5rem;
    color: #0A490A;
    font-weight: bold;
    border: none;
  }

  button {
    cursor: pointer;
  }

  .ProductBtn {
    background-color: #FFC107;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: .9rem;
    padding: .3rem 0.5rem;
    border-radius: .5rem;
    color: #0A490A;
    font-weight: bold;
    border: none;
  }

  .titleInteroduction {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 1rem;
    align-items: center;
  }

  .titleInteroduction strong {
    font-size: 2rem;
    color: #0A490A;
  }

  .ProductInteroduction ul {
    margin-left: -120px;
  }

  .ProductInformation p {
    font-size: 0.7rem;
  }

  .CardImg {
    transition: transform 0.5s ease;
  }

  .CardImg:hover {
    transform: scale(1.2);
  }

  .ProductSection {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 0 auto;
  }

  .ProductCover {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.445);
    width: 100%;
    height: 100%;
    top: 0;
    transition: all 0.5s;
  }

  .ProductItem:hover .ProductCover {
    background-color: rgba(0, 0, 0, 0.075);

  }


  .mainBannerBoxRight,
  .mainBannerBoxLeft {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    background-blend-mode: overlay;
    padding: 7rem 0 2rem 0;
    color: white;
  }

  .mainBannerBoxRight {
    background: url(/assets/images/orangebg.png) center /cover no-repeat, rgba(0, 0, 0, 0.4);
  }

  .mainBanner {
    margin: 0 20px 0 20px;
  }

  .mainBannerBoxLeft {
    background: url(/assets/images/totbg.png) center /cover no-repeat, rgba(0, 0, 0, 0.4);
  }

  .topScroll {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    color: #003500;
    opacity: 30%;
    transition: all 1s;
    outline: 2px solid #003500;
    outline-offset: 2px;
    font-size: 1.5rem;
  }

  .topScroll:hover {
    opacity: 100%;
    box-shadow: 0 0 1rem #003500;
    background-color: #003500;
    color: white;
  }

  .foterbackgroundBox {
    height: 20rem;
    width: 100%;
    position: absolute;
    top: -20rem;
    background-color: #0A490A;
    z-index: -1;
  }

  .emailBox {
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  .placecolor::placeholder{
    color:gray;
  }
  /* Other Styles */
  .M_t1 {
    margin-top: 1rem;
  }

  .w_100 {
    width: 100%;
  }

  .h_100 {
    height: 100%;
  }

  .bg_white {
    background-color: #FFFFFF;
  }

  .bg_orange {
    background-color: orangered;
  }

  .bg_green {
    background-color: #0A490A;
  }

  .bg_yellow {
    background-color: #FFC107;
  }

  .bg_orange {
    background-color: #E46002;
  }

  .bg_pink {
    background-color: #EF174B;
  }

  .bg_transparent {
    background-color: transparent;
  }

  .text_white {
    color: #FFFFFF !important;
  }

  .text_yellow {
    color: #FFC107;
  }

  .text_gray {
    color: gray;
  }

  .text_green {
    color: #0A490A;
  }

  .text_1 {
    font-size: .7rem;
  }

  .text_2 {
    font-size: 1rem;
  }

  .text_3 {
    font-size: 1.5rem;
  }

  .text_4 {
    font-size: 2rem;
  }

  .text_5 {
    font-size: 3rem;
  }

  .text_bold {
    font-weight: bolder;
  }

  .arrowIcon {
    width: 1rem;
  }

  .text_center {
    text-align: center;
  }

  .text_justify {
    text-align: justify;
  }

  .border_white {
    border: 2px solid #fff;
  }

  .border_green {
    border: 1px solid #0A490A;
  }

  .border_black {
    border: 1px solid black;
  }

  .border_none {
    border: none;
  }

  .rounded_1 {
    border-radius: 0.5rem;
  }

  .rounded_2 {
    border-radius: 1rem;
  }

  .d_flex {
    display: flex;
  }

  .align_items_center {
    align-items: center;
  }

  .align_items_start {
    align-items: start;
  }



  .justify_content_center {
    justify-content: center;
  }

  .justify_content_space {
    justify-content: space-between;
  }

  .flex_direction_column {
    flex-direction: column;
  }

  .gap_1 {
    gap: .5rem;
  }

  .gap_2 {
    gap: 1rem;
  }

  .gap_3 {
    gap: 1.5rem;
  }

  .gap_4 {
    gap: 2rem;
  }

  .gap_5 {
    gap: 3rem;
  }

  .p_1 {
    padding: 0.5rem;
  }

  .p_2 {
    padding: 1rem;

  }

  .p_3 {
    padding: 2rem;
  }

  .pt_10 {
    padding-top: 10rem;
  }

  .click:focus {
    color: #FFC107;
  }

  .p_inline_1 {
    padding-inline: 0.5rem;
  }

  .p_inline_3 {
    padding-inline: 2rem;
  }

  .mt_5 {
    margin-top: 4rem;
  }

  .mt_4 {
    margin-top: 3rem;
  }

  .mt_3 {
    margin-top: 2rem;
  }

  .mt_2 {
    margin-top: 1rem;
  }

  .mt_1 {
    margin-top: .5rem !important;
  }

  .color_yellow {
    color: yellow;
  }

  .color_white {
    color: white;
  }

  .w_20 {
    width: 20%;
  }

  .w_15 {
    width: 15%;
  }

  .w_25 {
    width: 25%;
  }

  .w_30 {
    width: 30%;
  }

  .w_33 {
    width: 33%;
  }

  .w_40 {
    width: 40%;
  }

  .w_60 {
    width: 60%;
  }

  .w_70 {
    width: 70%;
  }

  .w_80 {
    width: 80%;
  }

  .w_50 {
    width: 50%;
  }

  .w_100 {
    width: 100%;
  }

  .h_30 {
    height: 15%;
  }

  .h_80 {
    height: 80%;
  }

  .h_100 {
    height: 100%;
  }

  .h_100vh {
    height: 100dvh;
  }


  .p_absolute {
    position: absolute;
  }

  .p_fixed {
    position: fixed;
  }

  .p_relative {
    position: relative;
  }

  .p_sticky {
    position: sticky;
    top: 0;
  }

  .p_h_center {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
  }

  .top_0 {
    top: 0;
  }

  .top_1 {
    top: 0.5rem;
  }

  .left_m1 {
    left: -1rem !important;
  }

  .right_m1 {
    right: -1rem !important;
  }

  .left_0 {
    left: 0 !important;
  }

  .right_0 {
    right: 0 !important;
  }

  .right_1 {
    right: .5rem;
  }

  .right_2 {
    right: 1.5rem;
  }

  .left_1 {
    left: .5rem;
  }

  .z_index1 {
    z-index: 1;
  }

  .z_index10 {
    z-index: 10;
  }

  .z_indexM1 {
    z-index: -1;
  }

  .pointer {
    cursor: pointer;
  }

  .list_style_none {
    list-style: none;
  }

  .click:focus {
    color: #FFC107;
  }

  .line_height_2 {
    line-height: 2rem;
  }

  .bg_green2 {
    background-color: #327613;
  }

  .cardImg {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  .d_desktop_none {
    display: none !important;
  }

  .card_image {
    top: -2rem;
    right: -2rem;
  }